.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888888;
    flex: 1;
    outline: 1px solid #888888;
}

.operator {
    background-color: #fe9241;
    color: #ffffff;
}

.button-wrapper:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    color:#e2e2e2;
}

.operator:hover {
    background-color: #df690e;
    color: #ffffff;
}